*{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

html,body{
    background-color: #324D3E;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;

}

header{

    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    border-bottom: 1px solid #BECFBC;
}

nav{
    width: 30%;
    gap: 100px;
    display: flex;
    justify-content: center;
}
.headerButton{
    font-size: 20px;
    border: 0;
    background-color: inherit;
    padding: 30px;
    width: 50%;
    color: #FFFFFF;
    height: 100%;
}


#content{
    height: 100%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#first{
    height:fit-content;
    display: flex;
}
.title{
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}
#text{
    display: flex;
    flex-direction: column;

    color: #BECFBC;
    padding: 30px;
    height: 20%;
    width: 100%;;
    display: flex;
}
#color{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: #BECFBC;
}

#third{
    display: flex;
    justify-content: space-around;
}
.box{
    border-radius: 10px;
    background-color: #BECFBC;
    width: 200px;
    height: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}


.gridLayout{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:30px
}
.food{
    display: flex;
    flex-direction: column;

    justify-content: end;
    
    padding: 10px;
    border-radius: 10px;
    background-color:  #BECFBC;
}
.foodTitle{
    font-size: 19px;
    text-align: left;
    color:black;
}
.subtitle{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.orderButton{
    font-size: 20px;
    border-radius: 10px;
    background-color: #324D3E ;
    margin-left: auto;
    width: 50%;
    color: #FFFFFF;
    height: 100%;
}
img{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}

.contacts{
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    background-color: #BECFBC;
    width: 100%;
    height: 300px;
}
.contactTitle{
    text-align: center;
    color: black;
    font-size: 30px;
    padding-bottom: 20px;
}
.contactText{
    font-size: 30px;
    margin-bottom: 20px;
}